/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #e00c0c;
    padding: 10px;
    color: #fff;
}

.post {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

.create-post-form {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

.create-post-form h1 {
    margin-bottom: 10px;
}

.create-post-form label {
    display: block;
    margin-bottom: 5px;
}

.create-post-form input[type="text"],
.create-post-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.create-post-form button[type="submit"] {
    padding: 5px 10px;
    background-color: #12d068;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.product-card {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.product-card h1,
.product-card h2,
.product-card p {
    margin: 0;
    padding: 0;
}
