.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    color: pink; 
  }
  
  .post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .create-post-form {
    margin-top: 40px;
  }
  
  .create-post-form label {
    font-weight: bold;
  }
  
  .create-post-form input,
  .create-post-form textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .create-post-form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  .product-card h1,
  .product-card h2,
  .product-card p {
    margin-bottom: 10px;
  }
  